<!DOCTYPE html>
<html>
  <head>
    <title>Oracle Openshift POC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Oracle Openshift POC</h1>
    <div>
      <p>
       Inserted to Database
    </p>
    </div>
    <div>
      Inserted to Database
    </div>

  </body>
</html>
